@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BenchNine:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}
:root{

    font-family: 'Robotto', sans-serif;
    --main-text-color: #D0C8B9;
    --white-text-color: #FFFFFF;
    --main-gold-color: #C5A35C;
    --main-bg-color: #1B191A;
    --button-changed-color: #41332a;
}
/* body{
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
} */
img {
    display: block;
    width: 10%;
}
/* h2{
    color: var(--main-gold-color);
    font-size: 40px;
    font-family: 'BenchNine', sans-serif;
 } */