@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    box-sizing: border-box;
}
:root{

    font-family: 'Roboto', sans-serif;
    --main-text-color: #D0C8B9;
    --main-gold-color: #C5A35C;
    --main-bg-color: #212020;
}