@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BenchNine:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    font-family: 'Roboto', sans-serif;
    --main-text-color: #D0C8B9;
    --white-text-color: #FFFFFF;
    --main-gold-color: #C5A35C;
    --main-bg-color: #1B191A;
    --button-changed-color: #41332a;
}
body{
    background-color: var(--main-bg-color);
}

img {
    display: block;
    width: 100%;
}

h2{
    color: var(--main-gold-color);
    font-size: 40px;
    font-family: 'BenchNine', sans-serif;
 }
h3{
    color: var(--main-gold-color);
    font-size: 26px;
    font-family: 'BenchNine', sans-serif;
}
h4{
    color: var(--main-text-color);
    font-size: 19px;
    font-family: 'Robotto', sans-serif;
    
}

p{
    color: var(--white-text-color);
    font-size: 17px;
}

.btn_light{
    background-color: var(--main-gold-color);
    color: var(--white-text-color);
    font-size: 16px;
    border: none;
    font-family: 'BenchNine', sans-serif;
    padding: 15px 32px;
}
.btn_light:hover{
    background-color: var(--button-changed-color);
}
.btn_dark{
    color: var(--white-text-color);
    font-size: 16px;
    font-family: 'BenchNine', sans-serif;
    background-color: var(--main-bg-color);
    border: 2px solid var(--white-text-color);
    padding: 15px 32px;
}
.btn_dark:hover {
    color: var(--main-bg-color);
    background-color: var(--white-text-color);
}
.img_simple_line{
    height: 32px;
    width: 100%;
    max-width: 380px;
}