.our-gallery-carousel img {
    width: 365px;
    margin: 35px auto;
    padding: 0 2px 0 2px;
    height: 250px;
    
}

.our-gallery-carousel .slide {
    display: flex;
}

.forward {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #ffffff33;
    border: 0px;
    margin: auto;
    
}

.backward {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #ffffff33;
    border: 0px;
    margin: auto;
        
}