.our-gallery-carousel img {
    width: 370px;
    margin: auto;
    padding: 0 2px 0 2px;
    height: 250px;
    
}

.our-gallery-carousel {
    display: flex;
   
}

.forward {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #ffffff33;
    border: 0px;
    margin: auto;
    
}

.back {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #ffffff33;
    border: 0px;
    margin: auto;
        
}