.our-gallery-carousel img {
    width: 375px;
    margin: auto;
    padding: 0 5px 0 5px;
    height: 255px;
    
}

.our-gallery-carousel {
    display: flex;
   
}

.forward {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 0px;
    margin: auto;
    
}

.back {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 0px;
    margin: auto;
        
}