.history {
    background-color: var(--main-bg-color);
    padding: 90px 0;
    max-width: 1200px;
    margin: 0 auto;
}

.history__h2 {
    font-family: 'BenchNine', sans-serif;
    font-size: 40px;
    color: var(--main-gold-color);
    text-align: center;
    padding-top: 90px;
}

.cooperation-bottom_whiteline {
    margin: 20px auto;
    width: auto;
    height: 32px;
}

.dates__image {
    object-fit: cover;
    object-position: 100% 100%;
    width: 100%;
    height: 100%;
}

.history__dates {
    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;

}

.history__subheader {
    color: var(--main-text-color);
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    margin-top: 20px;
    font-size: 19px;
    text-align: center;
    padding-top: 15px;
    margin: 0 auto;
    margin-bottom: 45px;
    padding: 0 24px;
}

.dates__h3 {
    color: var(--main-gold-color);
    font-family: 'BenchNine', sans-serif;
    font-size: 26px;
    margin: 20px 0;
}

.dates__description {
    color: var(--white-text-color);
    font-family: 'Robotto', sans-serif;
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: left;
    line-height: 1.5;
}

.inform-button-container {
    margin: auto;
    display: flex;
    justify-content: center;
}

.inform-button {
    text-decoration: none;
    color: var(--white-text-color);
    font-size: 16px;
    font-family: 'BenchNine', sans-serif;
    border: 2px solid white;
    background-color: var(--main-bg-color);
    padding: 15px 32px;
}

.inform-button:hover {
    color: var(--main-bg-color);
    background-color: var(--white-text-color);
}

@media (min-width: 760px) {
    .history__dates {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
}

@media (min-width: 990px) {
    .history__dates {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 15px;
    }
}

/*CAROUSEL*/

.cigars__carousel {
    margin: 110px 30px 50px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.history-product__img-carousel {
    width: 210px;
    height: 190px;
    margin: 15px 15px;
    padding: 20px 27px;
    transition: transform .5s;
}

.history-product__img-carousel:hover {
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(1.5);
}

.cigars__carousel .slide {
    display: flex;
}


.left {
    width: 26px;
    border-radius: 50%;
    background-color: var(--main-gold-color);
    border: 0px;
    margin: auto;
}

.right {
    width: 30px;
    border-radius: 50%;
    background-color: var(--main-gold-color);
    border: px;
    margin: auto;
}