
/*Svitlana Vusatiuk start*/
.our_fonders_h2 {
    font-size: 40px;
    color: #c5a35c;
    text-align: center;
    font-family: 'BenchNine', sans-serif;
}

.our_founders_subs_p {
    font-size: 17px;
    color: #d0c8b9;
    text-align: center;
    position: relative;
    font-family: Roboto, sans-serif;
    margin: 25px;
}

.john_bomstrom_h3 {
    font-size: 22px;
    color: #c5a35c;
    text-align: center;
    font-family: BenchNine, sans-seri;
    margin: 10px;
}

.jack_bomstrom_h3 {
    font-size: 22px;
    color: #c5a35c;
    text-align: center;
    font-family: BenchNine, sans-seri;
    margin: 10px;
}

.hugh_bomstrom_h3 {
    font-size: 22px;
    color: #c5a35c;
    text-align: center;
    font-family: BenchNine, sans-seri;
    margin: 10px;
}

.our_gallery_h2 {
    font-size: 40px;
    color: #c5a35c;
    text-align: center;
    font-family: BenchNine, sans-serif;
}

.our_gallery_subs_p {
    font-size: 17px;
    color: #d0c8b9;
    text-align: center;
    font-family: Roboto, sans-serif;
}
    /*Svitlana Vusatiuk end */
    
/* Diana Vesna start*/
.header__top {
    background-image: url(../img/logo/image_background_1.png);
    background-size: cover;
    background-position: center;
    min-height: 900px;

}

.header__banner {
    background-image: url(../img/logo/bg-cigars.png);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 750px;
    background-position: center;
    padding-top: 700px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.header__top-navigation-logo {
    width: 200px;
    height: auto;
    margin-right: 90px;
    margin-left: 20px;
   padding-bottom: 20px;
   font-family: 'BenchNine', sans-serif;
}

.single-dark-btn {
    margin-top: 30px;
}

A {
    color:#fff
}

.header__block {
  padding-bottom: 20px;
    padding-top: 20px;
}

.link {
   display: inline-block;
   vertical-align: top;
   margin: 0 15px;
   text-decoration: none;
}
/* Diana Vesna end*/