/*Pawlo Bryk start*/
.cooperation-bottom {
    text-align: center;
    background-color: var(--main-bg-color);
    color: white;
}

.cooperation__h2 {
    color: var(--main-gold-color);
    font-size: 40px;
    font-family: 'BenchNine', sans-serif;
}

.cooperation__subtitle {
    font-size: 19px;
    color: var(--main-text-color);
    font-family: 'Robotto', sans-serif;
}

.cooperation-bottom_whiteline {
    margin: auto;
    width: auto;
    height: 32px;
}

.cooperation__h3 {
    font-size: 24px;
    font-family: 'BenchNine', sans-serif;
    margin-top: 20px;
}

.cooperation_p {
    font-size: 17px;
    font-family: 'Robotto', sans-serif;
    margin-bottom: 20px;
}

.cooperation__info-consulting {
    background-image: url("../img/cooperation/men-on-field.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.cooperation__info-tobacco {
    background-image: url("../img/cooperation/woman-with-cigar.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.cooperation__info-cigars {
    background-image: url("../img/cooperation/cigars-in-bamboo.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.cooperation__info {
    margin: auto;
}

.cooperation__info-button {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: 'BenchNine', sans-serif;
    padding: 10px;
    border: 2px;
    border-radius: 10px;
    background-color: var(--main-gold-color);
}

.cooperation__info-button:hover {
    background-color: var(--button-changed-color);
}

/*Pawlo Bryk end*/
/* Kateryna Danylo Start*/
.good_cigars {
    background-image: url("../img/good_cigars/bg_good_cigars.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.origin {
    background-image: url("../img/good_cigars/bg_origin.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 52% 87%;
}

.pricing {
    background-image: url("../img/good_cigars/cigars.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 52% 87%;
}

.pricing_discribe,
.container_pricing_list {
    background: rgba(33, 32, 32, 0.92);
}

.good_cigars_quality {
    background-color: #313524;
    display: flex;
    justify-content: space-around;
}

.good_cigar_seed {
    background-color: #3F3229;
    display: flex;
    justify-content: space-around;
}

.good_cigars_describe,
.origin,
.pricing_discribe {
    text-align: center;
}

.origin_h2,
.good_cigars_h2,
.pricing_h2 {
    color: var(--main-gold-color);
    font-size: 40px;
    font-family: 'BenchNine', sans-serif;
}

.good_cigars_h3,
.pricing_h3,
.pricing_span_gold {
    color: var(--main-gold-color);
    font-size: 26px;
    font-family: 'BenchNine', sans-serif;
}

.good_cigars_h4,
.origin_h4,
.pricing_h4,
.pricing_span_grey {
    color: var(--main-text-color);
    font-size: 19px;
}

.good_cigars_p,
.origin_p,
.pricing_p {
    color: var(--white-text-color);
    font-size: 17px;
}

.pricing_button {
    background-color: var(--main-gold-color);
    color: var(--white-text-color);
    padding: 15px;
    border: none;
}

.img_white_line {
    margin: 0 auto;
    height: 32px;
    width: auto;
}

.pricing_li {
    display: flex;
    align-items: center;
}

/*Kateryna Danylo end */
/*Vladyslav Volkov start*/
.h2-years_quality {
    font-family: 'BenchNine', sans-serif;
    color: var(--main-gold-color);
    text-align: center;
    font-size: 34px;
    padding-top: 50px;
    padding-bottom: 15px;
}

.title-years_cigar {
    font-family: 'Robotto', sans-serif;
    font-size: 19px;
    color: var(--main-text-color);
    text-align: center;
    padding-top: 15px;
    width: 760px;
}

.mid-title_quality {
    display: flex;
    justify-content: center;
}

.h3-content_quality {
    font-family: 'BenchNine' sans-serif;
    font-size: 18px;
    color: var(--main-gold-color);
    padding-top: 20px;
    padding-right: 50px;
    text-align: left;
}

.title-mid_quality {
    font-family: 'Robotto', sans-serif;
    font-size: 17px;
    color: var(--white-text-color);
    width: 800px;
    padding-top: 10px;
    padding-right: 100px;
    text-align: left;
}

.title-years_quality {
    background-color: #1b191a;
}

.img-whiteline_quality {
    display: flex;
    justify-content: center;
}

.img-line_quality {
    height: 32px;
    width: 385px;
}


.img-cigars_quality {
    height: 239px;
    width: 346px;
}

.img-cigars_years {
    padding: 50px 50px 50px 50px;
}

.content-title_quality {
    box-sizing: border-box;
    padding-left: 50px;
    padding-bottom: 100px;
}

/*Vladyslav Volkov end*/
/* Denys Voitov start */

.history {
    background-color: #1b191a;
}

.history__h2 {
    font-family: 'BenchNine', sans-serif;
    font-size: 34px;
    color: rgb(197, 163, 92);
    text-align: center;
    padding-top: 30px;
}

.Line {
    margin: auto;
    width: auto;
    height: 32px;
}


.history__subheader {
    color: #d0c8b9;
    text-align: center;

}

.dates__description {
    color: #fff;
    font-family: 'Robotto', sans-serif;
}

.dates__h3 {
    color: #c5a35c;
    font-family: 'BenchNine', sans-serif;
    font-size: 22px;
}

.inform-button {
    text-decoration: white;
    color: white;
    font-size: 16px;
    font-family: 'BenchNine', sans-serif;
    border: 2px solid white;
    background-color: black;
    padding: 15px 32px;
    position: absolute;
}

.inform-button:hover {
    color: black;
    background-color: white;
}

/* Denys Voitov end */
/*Vynohradova Liubov start*/
.partners {
    background-color: #1b191a;
}

.partners__h2 {
    font-family: 'BenchNine', sans-serif;
    font-size: 34px;
    color: rgb(197, 163, 92);
    text-align: center;
    padding-top: 30px;
}

.Line {
    margin: auto;
    width: auto;
    height: 32px;
}

.partners__subheader {
    color: #d0c8b9;
    text-align: center;
}

/*Vynohradova Liubov end*/

/*Svitlana Vusatiuk start*/
.img_line {
    position: absolute;
}

/*Svitlana Vusatiuk end*/