.pricing {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("../img/good_cigars/cigars.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 52% 87%;
}
.visible {
    background-color: var(--main-gold-color);
}

.container_pricing {
    padding: 30px;
}ssss
.pricing_span_grey {
    color: var(--main-text-color);
    font-size: 19px;
}

.pricing_span_gold {
    color: var(--main-gold-color);
    font-size: 19px;
}

.container_pricing_li {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pricing_li {
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    padding: 50px;
}
.pricing_money, 
.pricing_quantity, 
.pricing_button_order, 
.pricing_tabacco_kind, 
.pricing_icon {
    white-space: nowrap;
    display: flex;
}

.container_pricing_li>div {
    padding: 20px;
}
.pricing_discribe>h4{
    margin: 30px auto;
}
.pricing_h3, .pricing_p{
    margin: 0;
}

/* css modal window */
.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100wh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: var(--main-bg-color);
}
.modal_inner{
    height: 100%;
    max-width: 800px;
    background-color: var(--main-gold-color);
    overflow: hidden;
    border-radius: 10px;
    padding: 5px;
}
.modal_top{
    display: flex;
    align-items: center;
    background-color: var(--button-changed-color);
}
.modal_title{
    flex-grow: 1;
    padding: 0 15px;
}
@media (min-width:767px) {
    .container_pricing_li {
        flex-direction: row;
    }
    .container_pricing_li>div {
        padding: 18px;
    }
}
@media (min-width:835px) {
    .container_pricing_li>div {
        padding: 25px;
    }
}
@media (min-width:950px) {
    .container_pricing_li>div {
        padding: 35px;
    }
}