.img_white_line {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    max-width: 358px;
    height: auto;
}

.container-button-websocial a {
    color: var(--main-text-color);
    justify-content: space-between; 
    width: 20px;
    height: 20px;
    align-items: center;
    
}

.fa-brands {
    margin: 40px 0 0 0;
    display: inline-block;

}

.our_founders {
    background-image: url("../img/good_cigars/bg_good_cigars.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 70px 80px 70px;

}

.our_founders_subs_p {
    font-size: 19px;
    color: var(--main-text-color);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding-top: 15px;

}

.john_bomstrom {
    background: #1b191a;
    width: 100%;
    margin: 25px 0 25px 0;
    justify-content: space-around;
    padding: 0 40px 30px 40px;

}

.john_bomstrom_info {
    border-radius: 50%;
    margin: 0 auto;
    padding: 30px 0 30px 0;
    width: 70px;

}

.john_bomstrom_subs_p {
    margin: 0;
    font-size: 16px;
    color: #fff;
    text-align: center;
    font-family: 'Roboto', sans-serif;

}

.jack_bomstrom {
    background: #1b191a;
    width: 100%;
    margin: 25px 0 25px 0;
    justify-content: space-around;
    padding: 0 40px 30px 40px;

}

.jack_bomstrom_info {
    border-radius: 50%;
    margin: 0 auto;
    padding: 30px 0 30px 0;
    width: 70px;

}

.jack_bomstrom_subs_p {
    margin: 0;
    font-size: 16px;
    color: #fff;
    text-align: center;
    font-family: 'Roboto', sans-serif;

}

.hugh_bomstrom {
    background: #1b191a;
    width: 100%;
    margin: 25px 0 25px 0;
    justify-content: space-around;
    padding: 0 40px 30px 40px;

}

.hugh_bomstrom_info {
    border-radius: 50%;
    margin: 0 auto;
    padding: 30px 0 30px 0;
    width: 70px;

}

.hugh_bomstrom_subs_p {
    margin: 0;
    font-size: 16px;
    color: #fff;
    text-align: center;
    font-family: 'Roboto', sans-serif;

}


@media (min-width: 600px) {
    .our_founders {
        display: grid;

    }
    
}

@media (min-width: 940px) {
    .container_our_founders {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }
}