
.modal_icon{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 15px;
    background-color: var(--main-bg-color);
}
.modal_visible{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 15px;
    background-color: var(--main-bg-color);
}
.modal_inner{
    position: absolute;
    left: 35%;
    top: 25%;
    background-color: var(--main-gold-color);
    border-radius: 10px;
    padding: 5px;
}
.modal_title{
    flex-grow: 1;
    padding: 0 15px;
} 
.modal_content, .contacts_form{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.modal_bottom{
    text-align: center;
    padding: 0 15px;
}
.modal_btn, .modal_close{
    display: inline-block;
    cursor: pointer;
}
input{
    margin: 20px;
    outline: none;
}
.count>input{
    margin: 20px 5px ;
}
.plus, .minus{
    width: 20px;
}