
.modal{
    position: fixed;
    top: -100%;
    left: 0;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: var(--main-text-color);
}
.modal_inner{
    height: 90%;
    max-width: 90%;
    background-color: var(--main-bg-color);
    overflow: hidden;
    border-radius: 10px;
    padding: 5px;
}
/* .modal_top{
    display: flex;
    align-items: center;
    background-color: var(--button-changed-color);
}
.modal_title{
    flex-grow: 1;
    padding: 0 15px;
} */
.modal_close{
    display: flex;
    align-items: center;
    cursor: pointer;
    background: none;
    outline: none;
    border: none;
}
.modal_bottom{
    text-align: right;
    padding: 0 15px 15px 15px;
}
.modal_btn{
    display: inline-block;
    cursor: pointer;
}