.our_gallery {
    background-image: url("../img/good_cigars/bg_good_cigars.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px 0px 20px 0px;
    padding: 80px;
    height: 800px;
    align-items: center
    
}

.our_gallery_h2 {
    font-size: 40px;
    color: #c5a35c;
    text-align: center;
    font-family: 'BenchNine', sans-serif;
    
}

.our_gallery_subs {
    font-size: 19px;
    color: var(--main-text-color);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding-top: 15px;
    width: 760px;
    
}

.gallery_gallery_info {
    width: 310px;
    display: flex;
    margin-left: auto;
    margin-right: auto;

}