/*Pawlo Bryk start*/
/* .cooperation-bottom {

    text-align: center;
    background-color: var(--main-bg-color);
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

.cooperation__h2 {
    color: var(--main-gold-color);
    font-size: 40px;
    font-family: 'BenchNine', sans-serif;
}

.cooperation__subtitle {
    font-size: 19px;
    color: var(--main-text-color);
    font-family: 'Robotto', sans-serif;
}

.cooperation-bottom_whiteline {
    margin: auto;
    width: auto;
    height: 32px;
}

.cooperation__h3 {
    font-size: 24px;
    font-family: 'BenchNine', sans-serif;
    margin-top: 20px;
}

.cooperation_p {
    font-size: 17px;
    font-family: 'Robotto', sans-serif;
    margin-bottom: 20px;
}


.cooperation__info-consulting {
    background-image: url("../img/cooperation/men-on-field.jpg");
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
}

.cooperation__info-tobacco {
    background-image: url("../img/cooperation/woman-with-cigar.jpg");
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
}

.cooperation__info-cigars {
    background-image: url("../img/cooperation/cigars-in-bamboo.jpg");
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
}

.cooperation__info-button {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: 'BenchNine', sans-serif;
    padding: 10px;
    border: 2px;
    border-radius: 10px;
    background-color: var(--main-gold-color);
}

.cooperation__info-button:hover {
    background-color: var(--button-changed-color);
}
*/
.cooperation-bottom{
    background-color: var(--main-bg-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.cooperation__h2{
    color: var(--main-gold-color);
    font-family: 'BenchNine', sans-serif;
    font-size: 40px;
}
.cooperation-bottom_whiteline{
    margin-left: auto;
    margin-right: auto;
    width: 358px;
    height: auto;
}
.cooperation__subtitle{
color: var(--main-text-color);
font-family: 'BenchNine', sans-serif;
font-size: 19px;
}

.cooperation__h3{
    font-size: 24px;
    font-family: 'BenchNine', sans-serif;
    color: var(--main-gold-color);
    margin-bottom: 10px;
}
.cooperation_p{
    font-size: 17px;
    font-family: 'Robotto', sans-serif;
    color: var(--white-text-color);
    margin-bottom: 20px;
}
.cooperation__info{
    padding: 10%;
    margin-top: 10px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: stretch;
}
.cooperation__info-consulting{
    background-image: url("../img/cooperation/men-on-field.jpg");
}
.cooperation__info-tobacco{
    background-image: url("../img/cooperation/woman-with-cigar.jpg");
    background-position: 50% 10% ;
}
.cooperation__info-cigars{
    background-image: url("../img/cooperation/cigars-in-bamboo.jpg");

}
.cooperation__info-button {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: 'BenchNine', sans-serif;
    padding: 10px;
    border: 2px;
    border-radius: 10px;
    background-color: var(--main-gold-color);
}

.cooperation__info-button:hover {
    background-color: var(--button-changed-color);
}

/*Pawlo Bryk end*/
/* Kateryna Danylo Start*/
.good_cigars {
    background-image: url("../img/good_cigars/bg_good_cigars.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.origin {
    background-image: url("../img/good_cigars/bg_origin.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 52% 87%;
    min-height: 500px;
    margin: auto;
}

.pricing {
    background-image: url("../img/good_cigars/cigars.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 52% 87%;
}

.container_pricing {
     background: rgba(33, 32, 32, 0.92);
     padding: 30px;
}

.good_cigars_quality {
    background-color: #313524;
    display: flex;
    justify-content: space-around;
}

.good_cigar_seed {
    background-color: #3F3229;
    display: flex;
    justify-content: space-around;
}

.good_cigars_describe,
.origin,
.pricing_discribe {
    text-align: center;
}

.origin_h2,
.good_cigars_h2,
.pricing_h2 {
    color: var(--main-gold-color);
    font-size: 40px;
    font-family: 'BenchNine', sans-serif;
}

.good_cigars_h3,
.pricing_h3,
.pricing_span_gold {
    color: var(--main-gold-color);
    font-size: 26px;
    font-family: 'BenchNine', sans-serif;
}

.good_cigars_h4,
.origin_h4,
.pricing_h4,
.pricing_span_grey {
    color: var(--main-text-color);
    font-size: 19px;
}

.good_cigars_p,
.origin_p,
.pricing_p {
    color: var(--white-text-color);
    font-size: 17px;
}

.pricing_button {
    background-color: var(--main-gold-color);
    color: var(--white-text-color);
    font-size: 16px;
    padding: 15px 25px;
    border: none;
    font-family: 'BenchNine', sans-serif;
}
.pricing_button:hover {
    background-color: var(--button-changed-color);
}

.img_white_line {
    margin: 0 auto;
    height: 32px;
    width: auto;
}


.pricing_li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 45px;
}

/*Kateryna Danylo end */
/*Vladyslav Volkov start*/
.h2-years_quality {
    font-family: 'BenchNine', sans-serif;
    color: var(--main-gold-color);
    text-align: center;
    font-size: 34px;
    padding-top: 50px;
    padding-bottom: 15px;
}

.title-years_cigar {
    font-family: 'Robotto', sans-serif;
    font-size: 19px;
    color: var(--main-text-color);
    text-align: center;
    padding-top: 15px;
    width: 760px;
}

.mid-title_quality {
    display: flex;
    justify-content: center;
}

.h3-content_quality {
    font-family: 'BenchNine' sans-serif;
    font-size: 18px;
    color: var(--main-gold-color);
    padding-top: 20px;
    padding-right: 50px;
    text-align: left;
}

.title-mid_quality {
    font-family: 'Robotto', sans-serif;
    font-size: 17px;
    color: var(--white-text-color);
    width: 800px;
    padding-top: 10px;
    padding-right: 100px;
    text-align: left;
}

.title-years_quality {
    background-color: #1b191a;
}

.img-whiteline_quality {
    display: flex;
    justify-content: center;
}

.img-line_quality {
    height: 32px;
    width: 385px;
}


.img-cigars_quality {
    height: 239px;
    width: 346px;
}

.img-cigars_years {
    padding: 50px 50px 50px 50px;
}

.content-title_quality {
    box-sizing: border-box;
    padding-left: 50px;
    padding-bottom: 100px;
}

/*Vladyslav Volkov end*/
/* Denys Voitov start */

.history {
    background-color: var(--main-bg-color);
    padding-top: 92.5px;
    padding-bottom: 95px;
}

.history__h2 {
    font-family: 'BenchNine', sans-serif;
    font-size: 46px;
    color: var(--main-gold-color);
    text-align: center;
}

.line {
    margin-top: 25px;
    width: auto;
    height: 32px;
  
}

.dates__image {
    object-fit: cover;
    object-position: 100% 100%;
    width: 100%;
    height: 100%;
}

.history__subheader {
    color: var(--main-text-color);
    box-sizing: border-box;
    margin-top: 20px;
    font-size: 19px;
    text-align: center;
    padding-top: 15px;
    width: 760px;
    margin: 0 auto;

}

.history__dates {
    display: flex;
    align-items: center;
    padding: 0 200px;
    margin-top: 45px;
    
}

.dates__h3 {
    color: var(--main-gold-color);
    font-family: 'BenchNine', sans-serif;
    font-size: 26px;
    margin-top: 20px;

}

.dates__description {
    color: var(--white-text-color);
    font-family: 'Robotto', sans-serif;
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 60px;
    text-align: left;
    line-height: 1.5;
}

.history__dates {
    display: grid;
    gap: 30px;
}

@media (min-width: 500px) {
    .history__dates {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 770px) {
    .history__dates {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    .history__dates {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.inform-button-container {
    margin: auto;
    display: flex;
    justify-content: center;
}

.inform-button {
    text-decoration: none;
    color: var(--white-text-color);
    font-size: 16px;
    font-family: 'BenchNine', sans-serif;
    border: 2px solid white;
    background-color: var(--main-bg-color);
    padding: 15px 32px;
}

.inform-button:hover {
    color: var(--main-bg-color);
    background-color: var(--white-text-color);

}


/* Denys Voitov end */
/*Vynohradova Liubov start*/
.partners {
    background-color: #1b191a;
}

.partners__h2 {
    font-family: 'BenchNine', sans-serif;
    font-size: 34px;
    color: rgb(197, 163, 92);
    text-align: center;
    padding-top: 30px;
    align-items: center;
}

.line_under {
    margin: auto;
    width: auto;
    height: 32px;
    background-color: #1b191a;
    align-items: center;
}

.partners__subheader {
    color: #d0c8b9;
    text-align: center;
}
.partners_partners-logo {
    width: 300px;
    align-items: center; 
   background-color: #1b191a;
}
.partners__number-h2 {
    background-image: url(".../img/good_cigars/bg_origin.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 52% 87%;
    color: var(--main-gold-color);
    font-weight: bold;
}
.subpartners {
    color: white;
    font-weight: bold;
}

/*Vynohradova Liubov end*/


/*Svitlana Vusatiuk start*/
.img_white_line {
    margin: auto;
    width: auto;
    height: 32px;

}

.our_founders_subs {
    margin: auto;
    width: auto;
    text-align: center;
}

.john_bomstrom_subs
.social_services_john
.john_bomstrom_info {
    margin: auto;
    width: auto;
    text-align: center;
}
.jack_bomstrom_subs
.social_services_jack
.jack_bomstrom_info {
    margin: auto;
    width: auto;
    text-align: center;
}
.hugh_bomstrom_subs
.social_services_hugh
.hugh_bomstrom_info {
    margin: auto;
    width: auto;
    text-align: center;
}

.our_gallery_subs {
    margin: auto;
    width: auto;
    text-align: center;
}
/*Svitlana Vusatiuk end*/

/*Rimma Vitkovska's start*/
.havana {
    background-color: var(--main-bg-color);
}

.location__image {
    width: 45%;
    height: 45%;
    top: 0;
    left: 0;
}

.havana__h2 {
    font-family: 'BenchNine', sans-serif;
    font-size: 34px;
    color: var(--main-gold-color);
    text-align: center;
}

.havana__h3 {
    font-family: 'Robotto', sans-serif;
    font-size: 19px;
    color: var(--main-gold-color);
    text-align: center;
}

.havana__p {
    font-family: 'Robotto', sans-serif;
    font-size: 17px;
    color: var(--white-text-color);
    text-align: center;
}

.container a {
    align-items: center;
    color: rgb(208, 200, 185)
}

.navigation-banner-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: 'BenchNine', sans-serif;
    padding: 10px;
    background-color: var(--main-gold-color);
    text-align: center;
}

.header-banner-link button  {
    background-color: var(--button-changed-color);
}

header-banner-link button :hover {
    background-color: var(--button-changed-black);
}

.testimonials {
    background-color: #1b191a;
}

.testimonials-title {
    font-family: 'BenchNine', sans-serif;
    font-size: 34px;
    color: rgb(197, 163, 92);
    text-align: center;
}

.testimonials__subtitle {
    font-family: 'Robotto', sans-serif;
    font-size: 19px;
    color: rgb(200, 200, 185);
    text-align: center;
}

.header__top {
    background-image: url(../img/logo/image_background_1.png);
    background-size: cover;
    background-position: center;
    min-height: 900px;

}

.header__banner {
    background-image: url(../img/logo/bg-cigars.png);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 750px;
    background-position: center;
    padding-top: 700px;

}

.header__top-navigation-logo {
    width: 132%;
    height: auto;
    position: center;
    padding-top: 30px;
    padding-left: 90px;
}

.header__top-navigation-links {
    position: absolute;
    top: 45px;
    left: 600px;
}

/*Rimma Vitkovska's end*/