.img_white_line {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 100%;
    max-width: 358px;
    height: auto;
}

.our_founders {
    background-image: url("../img/good_cigars/bg_good_cigars.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px 0px 20px 0px;
    padding: 80px;
    height: 1035px;
    position: absolute;
    -webkit-box-direction: normal;
    
}

.our_founders_subs {
    margin: auto;
    width: auto;
    text-align: center;
}

.john_bomstrom_subs,
.jack_bomstrom_subs,
.hugh_bomstrom_subs {
    margin: auto;
    width: auto;
    text-align: center;
}

.john_bomstrom {
    background: #1b191a;
    height: 491px;
    width: 361px;
    margin: 25px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}

.john_bomstrom_info {
    border-radius: 50%;
    box-sizing: border-box;
    margin: 25px auto;
    padding: 50px 0px 50px 0px;
    width: 70px; 
}

.jack_bomstrom {
    background: #1b191a;
    height: 491px;
    width: 361px;
    margin: 25px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}

.jack_bomstrom_info {
    border-radius: 50%;
    box-sizing: border-box;
    margin: 25px auto;
    padding: 50px 0px 50px 0px;
    width: 70px; 
}

.hugh_bomstrom {
    background: #1b191a;
    height: 491px;
    width: 361px;
    margin: 25px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}

.hugh_bomstrom_info {
    border-radius: 50%;
    box-sizing: border-box;
    margin: 25px auto;
    padding: 50px 0px 50px 0px;
    width: 70px; 
}
}
