.testimonials {
    padding-top: 90px;
    padding-bottom: 40px;
    background-color: var(--main-bg-color);
}
.testimonials-title {
    font-family: 'BenchNine', sans-serif;
    font-size: 34px;
    color: var(--main-gold-color);
    text-align: center;
}
.testimonials__subtitle {
    font-family: 'Robotto', sans-serif;
    font-size: 19px;
    color: var(--main-text-color);
    text-align: center;
}
