/*Rimma Vitkovska's start*/
.havana__h2 {
    font-size: 34px;
    color: rgb(197, 163, 92);
    text-align: center;
}

.havana__h3 {
    font-size: 19px;
    color: rgb(197, 163, 92);
    text-align: center;
}

.havana__p {
    font-size: 17px;
    color: black;
    text-align: center;
}

.container a {
    text-decoration: none;
    color: black;
}

.header__top-navigation-links a {
    text-decoration: none;
    color: black;
}

.header__banner a {
    text-decoration: none;
    color: black;
}

.testimonials-title {
    font-size: 34px;
    color: rgb(197, 163, 92);
    text-align: center;
}

.testimonials__subtitle {
    font-size: 19px;
    color: rgb(200, 200, 185);
    text-align: center;
}

/*Rimma Vitkovska's end*/

/*Our founders start*/
.our_fonders_h2 {
    font-size: 34px;
    color: #c5a35c;
    text-align: center;
    font-family: 'BenchNine', sans-serif;
}

.our_founders_subs_p {
    font-size: 19px;
    color: #d0c8b9;
    text-align: center;
    font-family: Roboto, sans-serif;
}

.john_bomstrom_h3 {
    font-size: 22px;
    color: #c5a35c;
    text-align: center;
    font-family: BenchNine, sans-seri;
}

.john_bomstrom_subs_p {
    font-size: 17px;
    color: #fff;
    text-align: center;
    font-family: Roboto, sans-serif;
}

.jack_bomstrom_h3 {
    font-size: 22px;
    color: #c5a35c;
    text-align: center;
    font-family: BenchNine, sans-seri;
}

.jack_bomstrom_subs_p {
    font-size: 17px;
    color: #fff;
    text-align: center;
    font-family: Roboto, sans-serif;
}

.hugh_bomstrom_h3 {
    font-size: 22px;
    color: #c5a35c;
    text-align: center;
    font-family: BenchNine, sans-seri;
}

.hugh_bomstrom_subs_p {
    font-size: 17px;
    color: #fff;
    text-align: center;
    font-family: Roboto, sans-serif;
}

/*Our founders end*/

/*Our gallery start*/
.our_gallery_h2 {
    font-size: 34px;
    color: #c5a35c;
    text-align: center;
    font-family: BenchNine, sans-serif;
}

.our_gallery_subs_p {
    font-size: 19px;
    color: #d0c8b9;
    text-align: center;
    font-family: Roboto, sans-serif;
}

/*Our gallery end*/

/* Navigations start */
.header__top {
    background-image: url(../img/logo/image_background_1.png);
    background-size: cover;
    background-position: center;
    min-height: 900px;
    
    }
    .header__banner {
       background-image: url(../img/logo/bg-cigars.png);
       background-repeat: no-repeat;
       background-size: contain;
       min-height: 750px;
        background-position: center;
        padding-top: 700px;
        
    }

    .header__top-navigation-logo {
        width: 132%;
        height: auto;
        position: center;
       padding-top: 30px;
        padding-left: 90px;
    }

    .header__top-navigation-links {
       position: absolute; 
       top: 45px;
       left: 600px;
    }
    /* Navigations end */
    
