/* Rimma Vitkovska's start */
.havana__h2 {
    font-size: 34px ;
    color: rgb(197,163,92);
    text-align: center;
}
.havana__h3 {
    font-size: 19px ;
    color: rgb(197,163,92);
    text-align: center;
}
.havana__p {
    font-size: 17px ;
    color:black;
    text-align: center;
}
.container a {
    text-decoration: none;
    color: black;
}
.header__top-navigation-links a {
    text-decoration: none;
    color: black;
}
.header__banner a {
    text-decoration: none;
    color: black;
}
.testimonials-title {
    font-size: 34px ;
    color: rgb(197,163,92);
    text-align: center;
}
.testimonials__subtitle {
    font-size: 19px ;
    color: rgb(200, 200, 185);
    text-align: center;
}
/* Rimma Vitkovska's end */
/* Kateryna Danylo Start*/
#3F3229
#313524

/*Kateryna Danylo end */