.havana {
    background-color: var(--main-bg-color);
    font-size: 17px;
    line-height: 1.5;
    font-family: Roboto, sans-serif;
    padding-top: 90px;
    padding-bottom: 40px;
}
.location__image {
    padding-left: 0px;
    padding-right: 15px;
    min-height: 32px;
    display: flex;
    margin: 10px 10px;
}
.havana__h2 {
    font-family: 'BenchNine', sans-serif;
    font-size: 40px;
    color: var(--main-gold-color);
    text-align: left;
    margin: 20px;
}
.havana__h4 {
    font-family: 'Robotto', sans-serif;
    font-size: 19px;
    color: var(--main-gold-color);
    text-align: left;
    margin: 20px;
}
.havana__p {
    position: relative;
    max-width: 100%;
    word-wrap: break-word;
    font-family: 'Robotto', sans-serif;
    font-size: 17px;
    color: var(--white-text-color);
    text-align: left;
    margin: 20px;
}
.container a {
    color: rgb(208, 200, 185);
    margin-top: 30px;
    padding-top: 20px;
    border-radius: 20px;
    margin: 20px;
    justify-content: center;
    text-align: left;
}
.navigation-banner-links {
    padding: 14px 20px;
    justify-content: space-around;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    text-align: left;
}
.banner_contact {
    padding: 14px 20px;
    margin: 5px;
    text-decoration: none;
}
.banner_learnmore {
    padding: 14px 20px;
    margin: 5px;
    text-decoration: none;
}