.testimonials {
    padding: 80px 0;
    background-color: var(--main-bg-color);
}
.testimonials-title {
    font-family: 'BenchNine', sans-serif;
    font-size: 34px;
    color: var(--main-gold-color);
    text-align: center;
}
.testimonials__subtitle {
    font-family: 'Robotto', sans-serif;
    font-size: 19px;
    color: var(--main-text-color);
    text-align: center;
    margin-bottom: 40px;
}
.testimonials-carousel{
    display: flex;
    justify-content: space-between;

}
.testimonials-carousel .slide {
    display: flex;
   
}
.back {
    background-color: var( --main-gold-color);
    width: 30px;
    height: 30px;
    text-align: center;
  
}
.forward {
    background-color: var( --main-gold-color); 
    width: 30px;
    height: 30px;
    text-align: center;
}
