.contacts{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 5%;
    background-image: url("../img/contacts/contacts-background.jpg");
}

@media (min-width: 768px){
    .contacts{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .contacts-google-location{
        height: 200px;
    }
}

.contacts-google-location{
    max-width: 90%;
    margin-bottom: 40px;
}

.contacts__phone{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 30px;
}
.contacts__img_white_line{
    margin-top: 20px;
    margin-bottom: 20px;    
}

.contacts__h3{
    margin-top: 15px;
    margin-bottom: 15px;
}

.contacts__form{
background-color: var(--main-bg-color);
padding-top: 15%;
padding-bottom: 15%;
padding-left: 80px;
padding-right: 80px;
display: flex;
flex-direction: column;
}

.contacts__form-fields{
    background-color: var(--button-changed-color);
    border: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
}

.contacts__btn{
    margin-top: 20px;
}