.under-contacts{
    margin-top: 20px;
    margin-bottom: 40px;
    background-image: url("/img/contacts/contacts-background.jpg") ;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 10px;
    padding-bottom: 20px;
}

.under-contacts-countdown{
display: flex;
justify-content: space-around;
padding: 20px 10%;
background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.9)), url("../img/contact_form_1/backgroud_contactform1.jpg");
background-size: cover;
background-position: center;
margin-left: 5%;
margin-right: 5%;
}

.under-contacts-countdown-div-img{
display: flex;
justify-content: center;
}

.under-contacts-countdown-img{
    width: 50vw;
    align-content: center;
}

