.testimonials {
    padding: 80px 0;
    background-color: var(--main-bg-color);
}
.testimonials-title {
    font-family: 'BenchNine', sans-serif;
    font-size: 40px;
    color: var(--main-gold-color);
    text-align: center;
}
.testimonials__subtitle {
    font-family: 'Robotto', sans-serif;
    font-size: 19px;
    color: var(--main-text-color);
    text-align: center;
    margin-bottom: 40px;
}
.testimonials-carousel{
    min-height: 600px;
    display: flex;
    justify-content: space-between;
}
.testimonials-carousel .slide {
    display: flex;  
}
.backbut {
    width: 60px;
    border-radius: 50%;
    background-color: var( --main-gold-color);
    border: 0px;
    margin: auto;
}
.forwardbut {
    width: 60px;
    border-radius: 50%;
    background-color: var( --main-gold-color);
    border: 0px;
    margin: auto;
}
