.havana {
    background-color: var(--main-bg-color);
    font-size: 17px;
    line-height: 1.5;
    font-family: Roboto, sans-serif;
    padding-top: 90px;
    padding-bottom: 50px;
}
.location__image {
    padding-left: 0px;
    padding-right: 15px;
    min-height: 32px;
    display: flex;
    margin: 10px 10px;
}
.havana__h2 {
    text-align: left;
    margin: 20px;
}
.white_line_left {
  margin-right: auto;
  padding-left: 20px;
}
.havana__h4 {
    font-family: 'Robotto', sans-serif;
    font-size: 19px;
    color: var(--main-gold-color);
    text-align: left;
    margin: 20px;
}
.havana__p {
    font-family: 'Robotto', sans-serif;
    font-size: 17px;
    color: var(--white-text-color);
    text-align: left;
    margin: 20px;
}
.container-button-social a {
    color: var(--main-text-color);
    margin: 20px;
    justify-content: space-around; 
    width: 30px;
    height: 30px;
}
.navigation-banner-links {
    padding: 14px 20px;
    justify-content: space-around;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    text-align: left;
}
.banner_contact {
    padding: 14px 20px;
    margin: 5px;
    text-decoration: none;
}
.banner_learnmore {
    padding: 14px 20px;
    margin: 5px;
    text-decoration: none;
}