.main-partners-carousel {
    min-height: 400px;
    display: flex;
    justify-content: space-between;
    
    
    
}

.main-partners-carousel .slidep {
    display: flex;
}

.backp {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin:auto;
    font-size: 17px;
    font-family: Roboto,sans-serif;
    font-weight: 400;
    border: 0px;
    opacity: .85;
    background-color: white;
    
    
                 
   
}

.forwardp {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin:auto;
    font-size: 17px;
    font-family: Roboto,sans-serif;
    font-weight: 400;
    border: 0px;
    opacity: .85;
    background-color: white;
    
        
}



@media (min-width: 990px) {
    .backp {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin:auto;
        font-size: 45px;
        font-family: Roboto,sans-serif;
        font-weight: 400;
        border: 0px;
        opacity: .85;
        color:white;
        background-color: transparent;
    }
}

@media (min-width: 990px) {
    .forwardp {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin:auto;
        font-size: 45px;
        font-family: Roboto,sans-serif;
        font-weight: 400;
        border: 0px;
        opacity: .85;
        color:white;
        background-color: transparent;
    }
}

