.years-quality {
    background-color: var(--main-bg-color);
    font-family: Roboto, sans-serif;
    max-width: 1400px;
    margin: 0px 0px;
    padding: 50px 50px;
}
@media (min-width: 768px) {
    .mid-quality {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.quality__image {
    padding: 0px 20px 0px 20px;
    height: auto;
    width: 100%;
}

.destination-quality {
    padding-left: 15px;
    padding-right: 15px;
}

.destination__subtitle {
    font-family: 'Robotto', sans-serif;
    font-size: 19px;
    color: var(--main-gold-color);
    text-align: left;
    padding-top: 65px;
}

.destination__text {
    font-family: 'Robotto', sans-serif;
    font-size: 17px;
    color: var(--white-text-color);
    text-align: left;
    padding-top: 20px;
}

.quality__title{
    font-size: 40px;
    font-family: 'BenchNine', sans-serif;
    color: var(--main-gold-color);
}

.quality__content{
    font-size: 19px;
    font-family: 'Robotto', sans-serif;
    color: var(--main-text-color);
    margin-top: 20px;
    text-align: center;
}

.white__line{
    height: 32px;
    width: auto;
    margin: 20px auto;
}

.title-quality{
    text-align: center;
    margin-top: 30px;
}

.mid-quality{
    padding-top: 50px;
}